.login-container {
  width: 100%;
  padding-block: 30px 100px;
}

.login-content {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  font-size: 18px;
  font-weight: 700;
  font-family: "Circular Std";
  line-height: 18px;
  text-align: center;
  margin-bottom: 32px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-form .form-group label {
  font-size: 12px;
}

.login-input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 8px 0;
  font-size: 12px;
  outline: none;
}

.login-input:focus {
  border-bottom-color: #000000;
}

.forgot-password {
  width: fit-content;
  font-size: 8px;
  margin-top: 10px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}
.forgot-password::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5px;
  background-color: #000000;
  transform: scaleX(0);
  transform-origin: right top;
  transition: transform 0.3s ease;
}
.forgot-password:hover::after {
  transform: scaleX(1);
  transform-origin: left top;
}

.login-btn {
  width: 330px;
  margin: 30px auto 0;
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 6px;
  transition: opacity 0.3s ease;
}

.login-btn:hover {
  background-color: #a72813;
  transition: background-color 0.3s ease;
}

.register-link {
  width: fit-content;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}
.register-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
  transform: scaleX(0);
  transform-origin: right top;
  transition: transform 0.3s ease;
}
.register-link:hover::after {
  transform: scaleX(1);
  transform-origin: left top;
}

@media (max-width: 768px) {
  .login-container {
    padding-block: 20px 100px;
    padding-inline: 22px;
  }
  .login-title {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .login-input {
    font-size: 10px;
    padding-block: 10px;
  }
  .register-link {
    margin-top: 20px;
    font-size: 10px;
  }
}
